.wrapper
{
    background: url(../images/eat-2834549_1920.jpeg);
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    
}
.cas{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0;
    background: rgb(25, 25, 25, 0.3);
}

nav
{
    width: 100%;
    height: 80px;
    background-color: #000;
    line-height: 80px;   
}

nav ul
{
    float: right;
}


nav ul li
{
    list-style-type: none;
    display: inline-block;
}

nav ul li a
{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}
.fixedMenu{
    position: fixed;
    width: 100%;
    top: 0;
    left:0;
    background-color: white;
    box-shadow: 0 2px 2px #efefef;
}