#main{
    width: 100%;
    height: 190vh;
    background: url(/images/wheat-8762_960_720.jpg);
    background-size: cover;
}
nav{
    width: 100%;
    height: 90px;
    background-color: #0008;
    /* opacity: 0.2; */
    line-height: 70px;
    position: relative;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}

nav ul li:hover{
    background-color: #262626;
}

nav ul li a{
    
    padding: 30px;
}
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 380px;
    background: #262626;
  }

  .swiper-slide .imgBx{
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .swiper-slide .imgBx img{
    width: 100%;
  }

  .swiper-slide .detalles{
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
  }
  .swiper-slide .detalles h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
  }