*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.logo{
    height: 150px;
}
.banner{
    text-align: center;
}
.banner h1{
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 15px;
}
.banner h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.section{
    text-align: center;
}
.entete{
    text-align: center;
    margin: 25px auto 20px;
}
.wrapper{
    height: 450px;
    width: 100%;
    text-align: center;
    
}
.form{
    width: 304px;
    border-radius: 5px;
    background-color: rgb(252, 252, 252); 
    height: 340px;
    margin: 0 auto;
    box-shadow: 0 0 2px 0 #555;
    text-align: center;
    padding: 40px 15px;
}
.circle{
    height: 96px;
    width: 96px;
    background-image: url(/images/avatar.png);
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    color: #404040;
}
.connexion{
    margin-top: 16px;
    width: 274px;
    height: 44px;
    text-align: center;
    
}
.input{
    height: 44px;
    width: 274px;
    margin: 0;
    padding: 0 8px;
} 
.input:hover{
    /*box-shadow: 3px 3px 3px 3px #555;*/
    border: 2px solid rgba(rgb(206, 201, 201), green, blue, 0.7);

}
.button{
    margin-top: 10px;
    height: 38px;
    width: 274px;
    margin: 0;
    border: 1px solid rgb(236, 168, 58);
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: rgb(236, 168, 58);
    font-weight: 700;
    border-radius: 5px;
}
.button:hover{
    background-color: #df8c07;
    transition: 0.5s;
}
.btn{
    margin-top: 10px; 
}
.a{
    margin-top: 8px;
    float: right;
    
}
.lien{
    float: right;
    text-decoration: none;
    color: #3079ed;
    font-size: 14px;
    font-weight: 200; 
}
.b{
    margin-top: 10px;
    font-size: 16px;
}
.lien2{
    padding: 10px;
    font-size: 16px;
    text-decoration: none;
    color: #3079ed;
    font-weight: 200; 
}
.strip{
    margin-top: 10px;
}