<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/swiper.min.css">
    <link rel="stylesheet" href="/css/alim.css">
    
</head>
<body>
  <header>
    <a href="">BIENVENU CHEZ LES CHEFS</a>
    <div class="menu-toggle"></div>
    <nav>
      <ul>
        <li><a href="/alimant">ACCUEIL</a></li>
        <li><a href="#">VISITEURS</a></li>
        <li><a href="/alimant/inscription">INSCRIPTION</a></li>
        <li><a href="/alimant/connexion/mail">CONNEXION</a></li>
        <li><a href="#">DECONNEXION</a></li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </header>

      
  <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="imgBx">
                  <img src="/images/tomato-salad-1966921__340.jpg" alt="">
              </div>
              <div class="detalles"><h3>Salade <br> de tomate</h3></div>
          </div>
          <div class="swiper-slide">
                <div class="imgBx">
                    <img src="/images/salad-1672505__340.jpg" alt="">
                </div>
                <div class="detalles"><h3>Salade de Figues <br> au Fromage</h3></div>
                
            </div>
            <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="/images/img2.jpg" alt="">
                    </div>
                    <div class="detalles"><h3>Muffins au <br> chocolats</h3></div>
            </div>
            <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="/images/img 5.jpg" alt="">
                    </div>
                    <div class="detalles"><h3>Desserts au chocolats <br> avec framboises</h3></div>
                    
            </div>
            <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="/images/im7.jpg" alt="">
                    </div>
                    <div class="detalles"><h3>Coquilles Apperitifs <br>Trempettes</h3></div>
            </div>
            <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="/images/img6.jpg" alt="">
                    </div>
                    <div class="detalles"><h3>Burger</h3></div>
            </div>
            <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="/images/steak-2484999__340.jpg" alt="">
                    </div>
                    <div class="detalles"><h3>Streak</h3></div>
            </div>
            <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="/images/huitre.jpg" alt="">
                    </div>
                    <div class="detalles"><h3>Huître</h3></div>
            </div>
            <div class="swiper-slide">
                    <div class="imgBx">
                        <img src="/images/chocolates-1737503__340.jpg" alt="">
                    </div>
                    <div class="detalles"><h3>Chocolats <br> chocolats</h3></div>
                    
                </div>

        </div>
        
        <div class="swiper-pagination"></div>
    </div>

    <script src="/js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
          effect: 'coverflow',
          grabCursor: true,
          centeredSlides: true,
          slidesPerView: 'auto',
          coverflowEffect: {
            rotate: 90,
            stretch: 5,
            depth: 100,
            modifier: 6,
            slideShadows : true,
          },
          pagination: {
            el: '.swiper-pagination',
          },
        });
    </script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script  type="text/javascript">
$(document).ready(function(){
  $('.menu-toggle').click(function(){
    $('.menu-toggle').toggleClass('active')
    $('nav').toggleClass('active')

  })
})
</script>


<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.js"></script>
</body>
</html>