<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/compte.css">
    <title>incription</title>
</head>
<body>
    <div class="conteneur">
        <h1 class="titre">Formulaire d'Inscription</h1>
        <hr class="hr">
        <form action="" method="POST">
            <div class="page">
                <h4 style="margin:0%">Tous les champs sont obligatoires</h4>
                <div class="left">
                    <div class="form-group">
                        <label for="">Nom:</label>
                        <input type="text" class="input1" name="name">
                    </div>
                    <div class="form-group">
                        <label for="">Email:</label>
                        <input type="email"  class="input1" name="email">
                    </div>
                    <div class="form-group">
                        <label for="">Mot de pass:</label>
                        <input type="password"  class="input1" name="password">
                    </div>
                </div>
                <div class="right">
                    <div class="form-group">
                        <label for="">Prenoms:</label>
                        <input type="text" class="input2" name="lastname">
                    </div>
                    <div class="form-group">
                        <label for="">Contact:</label>
                        <input type="phone" class="input2" name="phone">
                    </div>
                    <div class="form-group">
                        <label for="">Confirmer mot de pass:</label>
                        <input type="password" class="input2" name="passwordconfirm">
                    </div>
                </div>
               <button class="button">Envoyer</button> 
               <a href="mail" class="retour">retour</a>
            </div>
        </form>
    </div>
</body>
</html>