<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/alim.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body class="body">
  <header class="main">
    
    <div class="menu-toggle"></div>
    <nav>
      <ul>
        <li><a href="#">ACCUEIL</a></li>
        <li><a href="/alimant/connexion/ahiline">VISITEURS</a></li>
        <li><a href="/alimant/inscription">INSCRIPTION</a></li>
        <li><a href="/alimant/connexion/mail">CONNEXION</a></li>
        <li><a href="#">DECONNEXION</a></li>
      </ul>
    </nav>
    <div class="clearfix"></div>
  </header>

           
  </div>             

              <div >
                    <div class="card-columns">
                            <div class="card">
                              <img src="/images/cake-1284548__340.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title"  style="color: tomato">Cake leger NiNice</h5>
                                <p class="card-text">Decouvrez avec les Chefs, toutes les recettes de cakes. Les chefs vous facilites la patisseries.</p>
                              </div>
                            </div>
                            <div class="card p-3">
                              <blockquote class="blockquote mb-0 card-body">
                                <p>Nous Sommes une plateforme de partages de recettes ouverte a tous</p>
                                <footer class="blockquote-footer">
                                  <small class="text-muted">
                                    Someone famous in <cite title="Source Title">Source Title</cite>
                                  </small>
                                </footer>
                              </blockquote>
                            </div>
                            <div class="card">
                              <img src="/images/lamb-tagine-meal-450w-288280685.jpg" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title" style="color: tomato">Opportunité de ragourt aux pommes de terres</h5>
                                <p class="card-text">Venez partager vos savoir avec les plats de resistances, parce que tout le monde peut devenir un chef!.</p>
                              </div>
                            </div>
                           
                            <div class="card text-center">
                              <div class="card-body">
                                <h5 class="card-title" style="color: tomato">Les chefs Custo</h5>
                                <p class="card-text">Dites nous ce que vous savez faire, dites nous vos problèmes</p>
                              </div>
                            </div>
                            <div class="card">
                              <img src="/images/cupcakes-1850628__340.jpg" class="card-img-top" alt="...">
                            </div>
                            <div class="card p-3 text-right">
                              <blockquote class="blockquote mb-0">
                                <p>Nous Avons des chefs de tous les pays, et toutes specialites</p>
                              </blockquote>
                            </div>
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title" style="color: tomato">Chefs custos</h5>
                                <p class="card-text">Venons apprendre, Nous critiquons, et nous appecions toutes les recettes.</p>
                              </div>
                            </div>
                          </div>
              </div>
              <br><br>
              <footer>
                <div class="card text-center bg-dark">
                  <div class="card-header">
                    A bientot
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">@copyright</h5>
                    <p class="card-text">Plateforme disponible 7jours/7.</p>
                    <a href="#" class="btn btn-dark">ACCUEIL</a>
                  </div>
                </div>
              </footer>

                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

                <script  type="text/javascript">
                $(document).ready(function(){
                  $('.menu-toggle').click(function(){
                    $('.menu-toggle').toggleClass('active')
                    $('nav').toggleClass('active')

                  })
                })
                </script>


<script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>