<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style2.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <div class="entete">
            <img src="../image/logo.jpg" class="logo" alt="">
        </div>
        <div  class="section">
            <div class="banner">
                <h1>Connectez-vous à votre espace de partage.</h1>
                
            </div>
            <div class="wrapper">
                <div class="form">
                    <div class="circle"></div>
                    <div class="connexion">
                        <input type="text" class="input" placeholder="Entrez votre mot de passe">
                        <div class="btn">
                            <input type="button" value="Suivant" class="button">
                        </div>
                        <div class="a"> <a href="" class="lien">Mot de passe oublié</a></div>
                        
                    </div>
                </div>
                
                
            </div>
            
        </div>
    </div>
</body>
</html>